#
# ==================================
# Copyright (C) 2020 Daniel M Tyler.
#   This file is part of Ellie.
# ==================================
#

# Temp files.
*~

# Windows folder config.
**/desktop.ini

# Keep bin, deps, deps/include, deps/lib, and deps/src but nothing inside of them.
!bin
bin/*
!deps
deps/*
!deps/include
deps/include/*
!deps/lib
deps/lib/*
!deps/src
deps/src/*
