#
# ==================================
# Copyright (C) 2020 Daniel M Tyler.
#   This file is part of Ellie.
# ==================================
#

# Temp files:
*~

# Windows folder config:
**/desktop.ini

# Emacs auto saves:
*#*#
**/.#*
